<navigation></navigation>
<div class="navbar-offset">
  <div class="container navbar-offset">
    <div class="alert alert-danger" ng-show="error!=undefined">
      <button type="button" class="close" ng-click="error=undefined"><span>&times;</span>
      </button>
      {{error}}
    </div>
    <h2 ng-show="uploader.queue[0]==undefined" class="text-center">Howdy!</h2>
    <div class="container">
      <div class="row">
        <div ng-show="uploader.queue[0]">
          <div class="col-md-6 col-md-offset-3">
            <div class="thumbnail no-padding">
              <img ng-src="{{filepreview}}" class="img-responsive" ng-show="filepreview" />
              <div ng-show="uploader.queue[0].response" class="caption">
                <p class="classify-label" ng-repeat="l in uploader.queue[0].response">
                  <strong>{{l.label}}</strong> with a score of <strong>{{l.score * 100 | number:2}} </strong> %
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<inputs></inputs>
