<navigation></navigation>
<div class="navbar-offset">
  <div class="container">
    <div class="alert alert-danger" ng-show="error!=undefined">
      <button type="button" class="close" ng-click="error=undefined"><span>&times;</span>
      </button>
      {{error}}
    </div>
    <h2 ng-show="uploader.queue[0]==undefined" class="text-center">Upload a image</h2>
    <h2 ng-show="uploader.queue[0]!=undefined" class="text-center">Classify image</h2>
    <div class="container">
      <div class="row">
        <div ng-show="uploader.queue[0]">
          <div class="col-md-6">
            <div class="thumbnail">
              <img ng-src="{{filepreview}}" class="img-responsive" ng-show="filepreview" />
              <div class="caption">
                <p ng-show="uploader.queue[0].response" class="text-center"><strong>{{uploader.queue[0].response[0].label}}</strong> with a score of <strong>{{uploader.queue[0].response[0].score * 100 | number:2}} </strong> %</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<inputs></inputs>
