<navigation></navigation>
<div class="navbar-offset">
  <div class="container navbar-offset">
    <div class="alert alert-danger" ng-show="error!=undefined">
      <button type="button" class="close" ng-click="error=undefined"><span>&times;</span>
      </button>
      {{error}}
    </div>
    <h2 ng-show="uploader.queue[0]==undefined" class="text-center">Howdy!</h2>
    <div class="container">
      <div class="row">
        <div ng-show="uploader.queue[0]">
          <div class="col-xs-6 col-md-6 pull-right">
            <div class="thumbnail pull-right no-padding">
              <img ng-src="{{filepreview}}" class="img-responsive" ng-show="filepreview" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" ng-repeat="event in events">
      <!-- Bot text -->
      <div ng-if="event.bot!==undefined && event.text!==undefined" class="talk-bubble round border bot-color-white">
        <div class="talktext">
          <p>{{event.text}}</p>
        </div>
      </div>
      <!-- Bot image -->
      <div ng-if="event.bot!==undefined && event.image!==undefined" class="col-xs-6 col-md-6 pull-left">
        <div class="thumbnail pull-right no-padding">
          <img ng-src="{{filepreview}}" class="img-responsive" ng-show="filepreview" />
          <div ng-show="event.response" class="caption">
            <p class="classify-label" ng-repeat="l in event.response">
              <strong>{{l.label}}</strong> with a score of <strong>{{l.score * 100 | number:2}} </strong> %
            </p>
          </div>
        </div>
      </div>
      <!-- Bot image -->
      <div ng-if="event.user!==undefined" class="talk-bubble round pull-right user-color-cyan">
        <div class="talktext">
          <p></p>
          <p>{{event.text}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<inputs></inputs>
